*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

.container{
    background: linear-gradient(201deg, #351f97ea, #10ac85d5);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
}

h1{
    font-size: 56px;
    color: var(--ternaryColor);
}

:root{
    --primaryColor: #222f3e;
    --secondaryColor: #8395a7;
    --ternaryColor:  #c8d6e5;
}